.recipe {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(116, 115, 115);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    padding-bottom: 20px;
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.ingredients, .healthLabels {
    margin: 20px;
    padding: 20px;
}

.originalUrl {
  text-decoration: none;
  background-color: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
}